In [1]:
import pandas as pd
#Leitura de pastas
path_cadastro  = r'E:\OEM\content\cadastro.xlsx'
path_concluido= r'E:\OEM\content\base_sip_Concluido.xlsx'
path_eac = r'E:\INST\content\MLA_EAC_Ligações_Intelbras.23052024.xlsx'
#Leitura do arquivo excel
read_cad = pd.read_excel(path_cadastro)
read_concluido = pd.read_excel(path_concluido)
read_eac = pd.read_excel(path_eac)
#Selecionando as colunas
df_cad =  read_cad[['UC', 'IDSIGFI','OBRA','ROTA']]
df_concluido = read_concluido[['UC', 'IDSIGFI','OBRA','ROTA']]
df_eac = read_eac [['Uc', 'Código ONE','Nº Obra','ROTA']]

In [5]:
select_2t = [14, 15, 16, 17, 21, 22, 23, 24]
cad = df_cad.loc[df_cad['ROTA'].isin(select_2t)]
concluido = df_concluido.loc[df_concluido['ROTA'].isin(select_2t)]
eac = df_eac.loc[df_eac['ROTA'].isin(select_2t)]
df_concat = pd.concat([cad,concluido], axis=0)
df_date = eac.merge(df_concat,left_on= 'Código ONE', right_on= 'IDSIGFI', how='left')#'IDSIGFI'
date = df_date[df_date['UC'].isna()]
date = date.drop_duplicates()

In [6]:
date

      Uc  Código ONE      Nº Obra  ROTA_x  UC  IDSIGFI  OBRA  ROTA_y
27   NaN       16643          NaN    16.0 NaN      NaN   NaN     NaN
81   NaN       17196          NaN    16.0 NaN      NaN   NaN     NaN
108  NaN       17308          NaN    16.0 NaN      NaN   NaN     NaN
110  NaN       17266          NaN    16.0 NaN      NaN   NaN     NaN
112  NaN       17248          NaN    16.0 NaN      NaN   NaN     NaN
...   ..         ...          ...     ...  ..      ...   ...     ...
1866 NaN       43902  212400660.0    24.0 NaN      NaN   NaN     NaN
1867 NaN       44020          NaN    14.0 NaN      NaN   NaN     NaN
1868 NaN       44050  212400727.0    24.0 NaN      NaN   NaN     NaN
1869 NaN       44064  212400746.0    16.0 NaN      NaN   NaN     NaN
1870 NaN       43712  212401048.0    17.0 NaN  43712.0   NaN    17.0

[941 rows x 8 columns]

In [8]:
 # Salvando a planilha( .xlsx)
dataframe_excel = pd.ExcelWriter(r"C:\Users\helym\projetos_python\jupyter\OEM\output\uc_ausentes.xlsx")
date.to_excel(dataframe_excel, index=False)
dataframe_excel.close()